.snake{

background:#ff5252;
color:white;
font-size:25px;

}

.ladder{

background:#69f0ae;
color:black;
font-size:25px;

}

#restart{

background:#ff9800;
color:white;

}

#dice{

transition:.3s;

}

.rollAnimation{

transform:rotate(360deg) scale(1.3);

}
